<ion-app>
  <ion-content>

    <ion-toolbar>
      <ion-button color="danger" slot="end" (click)="salir()"><ion-icon name="exit-outline"></ion-icon></ion-button>
      <ion-searchbar placeholder="Buscar" #buscar (keyup)="find(buscar.value)"></ion-searchbar>
    </ion-toolbar>

    <app-tarjeta [letraRecibida] = "letra"></app-tarjeta>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="agregar()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>
</ion-app>